@using ERDSPortal.Models;
@model EventInstance

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-12" align="center">
                <div id="teamheader">@Model.Title</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" align="center">
                <div id="teamheader">@Model.Photo</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="teamsubheader">Date: </div>
                @Model.Date
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="teamsubheader">Location: </div>
                @Model.Location
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="teamsubheader">Details: </div>
                @Model.Details
            </div>
        </div>
    </div>

