@model IEnumerable<ERDSPortal.Models.FocusArea>

@{
    ViewBag.Title = "Focus Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Focus Areas</h2>

<p>
    @Html.ActionLink("Add New Focus Area", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.Icon" width="120"/>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FocusAreaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FocusAreaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FocusAreaId })
        </td>
    </tr>
}

</table>
